<div >

    	<!-- Header -->
		
		<!-- Top Nav -->
		
		<div class = "w3-bar w3-padding w3-white w3-card-4" style = "top: 0px; position: fixed; ">
			<div style="">
				<a  class = "w3-bar-item w3-hover-text-red "routerLink="/**" routerLinkActive="active">Home</a>
				<a  class = "w3-bar-item w3-hover-text-red" routerLink="/templates" routerLinkActive="active">Templates</a>
				<div class = "w3-right w3-bar-item w3-padding w3-padding-right">
						<a  class = "w3-blue w3-round w3-padding w3-margin-right" routerLink="/profile" routerLinkActive="active">My Account<i class = "fa fa-edit" style = "margin-left: 16px;"></i></a>
				<a  class = "w3-blue w3-round w3-padding " style = "display: none;"routerLink="/form1" routerLinkActive="active">Create Resume<i class = "fa fa-edit" style = "margin-left: 16px;"></i></a>
				<a class = "w3-red w3-round w3-padding" routerLink="/**" routerLinkActive="active">Logout<i class = "fa fa-power-off" style = "margin-left: 16px; margin-right: 16px;"></i></a>
				</div>
			</div>
		</div>
		
		<!-- Top Nav End -->
		<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="top :60px; width:300px; position:fixed;" id="mySidebar">
			<button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
			<a href="#" onclick = "javascript: openProfile(); return false;" class="w3-hover-light-grey w3-bar-item w3-button selected" id = "profile-link">Profile</a>
			<a href="#" onclick = "javascript: openEducation(); return false;"  class="w3-hover-light-grey w3-bar-item w3-button" id = "education-link">Education</a>
			<a href="#" onclick = "javascript: openWork(); return false;"  class="w3-hover-light-grey w3-bar-item w3-button" id = "work-link">Work</a>
			<a href="#" onclick = "javascript: openSkills(); return false;"  class="w3-hover-light-grey w3-bar-item w3-button" id = "skills-link">Skills</a>
			<a href="#" onclick = "javascript: openAchievements(); return false;"  class="w3-hover-light-grey w3-bar-item w3-button" id = "achievements-link">Achievements</a>
			<a href="#" onclick = "javascript: openProjects(); return false;"  class="w3-hover-light-grey w3-bar-item w3-button" id = "projects-link">Projects</a>
		</div>
		<!-- Header End -->
		
		<!-- Content -->
		
		<form action ="#"class="w3-main w3-container" style="margin-left:285px;">
			<div class = "w3-white">
				<button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
				
			</div>
			
			<div class = "w3-card-4 w3-round" style = "margin-top: 60px;">
				<!-- Profile -->
				<div class = "w3-container" style = "min-height: 600px;" id = "profile">
					<h4 class = "w3-text-red">Your Personal Info</h4>
					<div class = "w3-container">
					
						
					
						<p>Full Name:</p>
						<input type = "text" placeholder="e.g; FirstName LastName"style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
					
						<p>Email:</p>
						<input type = "email" placeholder="e.g; example@mail.com" style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
						
						<p>Contact Number</p>
						<input type = "text" placeholder="e.g; 98xxxxxxxx"style = "width: 500px; border: 0px solid black;" class = "w3-contaienr w3-light-grey w3-padding reset">
						
						<p>Address:</p>
						<input type = "text" placeholder="e.g; 26,Baker Street,Bhopal,Madhya Pradesh"style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
						<p>Social Profile</p>
						<input type = "text" placeholder="e.g; https://www.linkedin.com/example"style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
						
						<div class = "w3-margin-top">
								<a href = "#" onclick = "javascript: openEducation(); return false;" class = "w3-btn w3-blue w3-round">Next<i class = "fa fa-arrow-right w3-margin-left"></i></a>
						</div>
						
					</div>
					
				</div>
				<!-- Profile End -->
				
				<!-- Education -->
				<div class = "w3-container" style = "display: none; min-height: 500px; padding-bottom: 50px;" id = "education">
					<h4 class = "w3-text-red">Education</h4>
					
					<div class = "w3-container">
					
						<p>Section Heading</p>
						<input type = "text" value="Education" style = "width: 500px; border: 0px solid black;" disabled class = "w3-container w3-light-grey w3-padding reset">
						<p>School Name</p>
						<input type = "text" placeholder="e.g; Lakshmi Narain College Of Technology" style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
						<p>School Location</p>
						<input type = "text" placeholder= "e.g; Bhopal" style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
						<p>Degree</p>
						<input type = "text" placeholder="e.g; Bachelors of Engineering" style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
						<p>Major</p>
						<input type = "text" placeholder="e.g; Computer Science "style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
						<p>GPA</p>
						<input type = "text" placeholder="e.g; 8.5" style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">

						<p>Start Date</p>
						<input type = "text" placeholder="e.g; MM/YY " style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">

						<p>End Date</p>
						<input type = "text" placeholder="e.g; MM/YY " style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
						
						<div class = "w3-margin-top">
								<a href = "#" onclick = "javascript: openProfile(); return false;"  class = "w3-btn w3-red w3-round w3-margin-right"><i class = "fa fa-arrow-left w3-margin-right" ></i>Back</a>
								<a href = "#" onclick = "javascript: openWork(); return false;" class = "w3-btn w3-blue w3-round">Next<i class = "fa fa-arrow-right w3-margin-left"></i></a>
						</div>
						
					</div>
				</div>
				<!-- Education End -->
				
				<!-- Work -->
				<div class = "w3-container" style = "display: none; min-height: 500px; padding-bottom: 50px;" disabled id = "work">
					<h4 class = "w3-text-red">Work</h4>
					
					<div class = "w3-container">
						<p>Section Heading:</p>
						<input type = "text" value="Work Experience" style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
					
						<p>Company Name:</p>
						<input type = "text" placeholder="e.g; Infosys Systems" style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
						
						<p>Job Title:</p>
						<input type = "text" placeholder="e.g; Software Engineer" style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
					
						<p>Job Location:</p>
						<input type = "text" placeholder="e.g; Bangalore" style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
						<br/>

						<div class = "w3-margin-top">
								<a href = "#" onclick = "javascript: openEducation(); return false;" class = "w3-btn w3-red w3-round w3-margin-right"><i class = "fa fa-arrow-left w3-margin-right"></i>Back</a>
								<a href = "#" onclick = "javascript: openSkills(); return false;" class = "w3-btn w3-blue w3-round">Next<i class = "fa fa-arrow-right w3-margin-left"></i></a>
						</div>

					</div>
				</div>
				<!-- Work End -->
				
				<!-- Skills -->
				<div class = "w3-container" style = "display: none; min-height: 500px; padding-bottom: 50px;" id = "skills">
					<h4 class = "w3-text-red">Skills</h4>
					
					<div class = "w3-container">
						<p>Section Heading:</p>
						<input type = "text" value="Skills" style = "width: 500px; border: 0px solid black;" disabled class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
					
						<p>Skill Name:</p>
						<input type = "text" placeholder="e.g; Programming Languages" style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
						
						<p>Skill Details:</p>
						<input type = "text" placeholder="e.g; Python" style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
					
						
						<br/>

						<div class = "w3-margin-top">
								<a href = "#" onclick = "javascript: openWork(); return false;" class = "w3-btn w3-red w3-round w3-margin-right"><i class = "fa fa-arrow-left w3-margin-right"></i>Back</a>
								<a href = "#" onclick = "javascript: openAchievements(); return false;" class = "w3-btn w3-blue w3-round">Next<i class = "fa fa-arrow-right w3-margin-left"></i></a>
						</div>

					</div>
				</div>
				<!-- Skills End -->

				<!-- Achievements -->
				<div class = "w3-container" style = "display: none; min-height: 500px; padding-bottom: 50px;" id = "achievements">
					<h4 class = "w3-text-red">Achievements</h4>
					
					<div class = "w3-container">
						<p>Section Heading:</p>
						<input type = "text" value="Awards & Achievements" disabled style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
					
						<p>Achievement Name:</p>
						<input type = "text" placeholder="e.g; Supreme Hacker" style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
						
						<p>Awarder:</p>
						<input type = "text" placeholder="e.g; Hacker Tech." style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
						
						<p>Achievement Date:</p>
						<input type = "text" placeholder="e.g; MM/YY" style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
						
						<p>Summary:</p>
						<input type = "text" placeholder="e.g; Recognised for making best project in Hackathon" style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
					<br/>

					<div class = "w3-margin-top">
							<a href = "#" onclick = "javascript: openSkills(); return false;" class = "w3-btn w3-red w3-round w3-margin-right"><i class = "fa fa-arrow-left w3-margin-right"></i>Back</a>
							<a href = "#" onclick = "javascript: openProjects(); return false;" class = "w3-btn w3-blue w3-round">Next<i class = "fa fa-arrow-right w3-margin-left"></i></a>
					</div>

					</div>
				</div>
				<!-- Achievements End -->
				
				<!-- Projects -->
				<div class = "w3-container" style = "display: none; min-height: 500px; padding-bottom: 50px;" id = "projects">
					<h4 class = "w3-text-red">Projects</h4>
					
					<div class = "w3-container">
						<p>Section Heading:</p>
						<input type = "text" placeholder = "Projects" disabled style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
					
						<p>Project Name:</p>
						<input type = "text" placeholder="e.g; Resume Online " style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
						
						<p>Project Details:</p>
						<input type = "text" placeholder="e.g; A web application for resume desingning."style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
						
						<p>Project Date:</p>
						<input type = "text" placeholder="e.g; MM/YY"style = "width: 500px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">

					<br/>

					<div class = "w3-margin-top">
						<a href = "#" class = "w3-btn w3-red w3-round w3-margin-right">Add another Project<i class = "fa fa-plus w3-margin-left"></i></a>
						<button type = "submit"  class = "w3-btn w3-blue w3-round"><a>Generate Resume</a></button>
					</div>
					</div>
				</div>
				<!-- Projects End -->
			</div>
		

			
		</form>
  
  </div>