<div >

    	<!-- Header -->
		
		<!-- Top Nav -->
		
		<div class = "w3-bar w3-padding w3-white w3-card-4" style = "top: 0px;">
			<div style="">
				<a  class = "w3-bar-item w3-hover-text-red "routerLink="/**" routerLinkActive="active">Home</a>
				<a  class = "w3-bar-item w3-hover-text-red" routerLink="/templates" routerLinkActive="active">Templates</a>
				<div class = "w3-right w3-bar-item w3-padding w3-padding-right">
						<a  class = "w3-blue w3-round w3-padding" routerLink="/profile" routerLinkActive="active">My Account<i class = "fa fa-edit" style = "margin-left: 16px;"></i></a>
				<a  class = "w3-blue w3-round w3-padding" style = "display: none;"routerLink="/form1" routerLinkActive="active">Create Resume<i class = "fa fa-edit" style = "margin-left: 16px;"></i></a>
				<a class = "w3-red w3-round w3-padding" routerLink="/**" routerLinkActive="active">Logout<i class = "fa fa-power-off" style = "margin-left: 16px; margin-right: 16px;"></i></a>
				</div>
			</div>
		</div>
		
		<!-- Top Nav End -->
		<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px; position:fixed;" id="mySidebar">
			<button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
			<a href="#" onclick = "javascript: openProfile(); return false;" class="w3-hover-light-grey w3-bar-item w3-button selected" id = "profile-link">Profile</a>
			<a href="#" onclick = "javascript: openEducation(); return false;"  class="w3-hover-light-grey w3-bar-item w3-button" id = "education-link">Education</a>
			<a href="#" onclick = "javascript: openWork(); return false;"  class="w3-hover-light-grey w3-bar-item w3-button" id = "work-link">Work</a>
			<a href="#" onclick = "javascript: openSkills(); return false;"  class="w3-hover-light-grey w3-bar-item w3-button" id = "skills-link">Skills</a>
			<a href="#" onclick = "javascript: openAchievements(); return false;"  class="w3-hover-light-grey w3-bar-item w3-button" id = "achievements-link">Achievements</a>
			<a href="#" onclick = "javascript: openProjects(); return false;"  class="w3-hover-light-grey w3-bar-item w3-button" id = "projects-link">Projects</a>
		</div>
		<!-- Header End -->
		
		<!-- Content -->
		<div class="w3-main w3-container" style="margin-left:200px">
			<div class = "w3-white">
				<button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
				
			</div>
			
			<div class = "w3-card-4 w3-round" style = "margin-top: 20px;">
				<!-- Profile -->
				<div class = "w3-container" style = "min-height: 500px;" id = "profile">
					<h4 class = "w3-text-red">Your Personal Info</h4>
					<div class = "w3-container">
					
						<p>Section Heading</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-contaienr w3-light-grey w3-padding reset">
					
						<p>Full Name:</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
					
						<p>Email:</p>
						<input type = "email" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
						
						<p>Location:</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
						
						<div class = "w3-margin-top">
								<a href = "#" onclick = "javascript: openEducation(); return false;" class = "w3-btn w3-blue w3-round">Next<i class = "fa fa-arrow-right w3-margin-left"></i></a>
						</div>
						
					</div>
					
				</div>
				<!-- Profile End -->
				
				<!-- Education -->
				<div class = "w3-container" style = "display: none; min-height: 500px; padding-bottom: 50px;" id = "education">
					<h4 class = "w3-text-red">Education</h4>
					
					<div class = "w3-container">
					
						<p>Section Heading</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
						<p>School Name</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
						<p>College</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
						<p>Degree</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
						<p>Major</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
						<p>GPA</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding reset">
						
						<div class = "w3-margin-top">
								<a href = "#" onclick = "javascript: openProfile(); return false;" class = "w3-btn w3-red w3-round"><i class = "fa fa-arrow-left w3-margin-right"></i>Back</a>
								<a href = "#" onclick = "javascript: openWork(); return false;" class = "w3-btn w3-blue w3-round">Next<i class = "fa fa-arrow-right w3-margin-left"></i></a>
						</div>
						
					</div>
				</div>
				<!-- Education End -->
				
				<!-- Work -->
				<div class = "w3-container" style = "display: none; min-height: 500px; padding-bottom: 50px;" id = "work">
					<h4 class = "w3-text-red">Work</h4>
					
					<div class = "w3-container">
						<p>Section Heading:</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
					
						<p>Company Name:</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
						
						<p>Job Title:</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
					
						<p>Job Location:</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
						<br/>

						<div class = "w3-margin-top">
								<a href = "#" onclick = "javascript: openEducation(); return false;" class = "w3-btn w3-red w3-round"><i class = "fa fa-arrow-left w3-margin-right"></i>Back</a>
								<a href = "#" onclick = "javascript: openSkills(); return false;" class = "w3-btn w3-blue w3-round">Next<i class = "fa fa-arrow-right w3-margin-left"></i></a>
						</div>

					</div>
				</div>
				<!-- Work End -->
				
				<!-- Skills -->
				<div class = "w3-container" style = "display: none; min-height: 500px; padding-bottom: 50px;" id = "skills">
					<h4 class = "w3-text-red">Skills</h4>
					
					<div class = "w3-container">
						<p>Section Heading:</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
					
						<p>Skill Name:</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
						
						<p>Skill Name:</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
					
						<p>Skill Name:</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
						<br/>

						<div class = "w3-margin-top">
								<a href = "#" onclick = "javascript: openWork(); return false;" class = "w3-btn w3-red w3-round"><i class = "fa fa-arrow-left w3-margin-right"></i>Back</a>
								<a href = "#" onclick = "javascript: openAchievements(); return false;" class = "w3-btn w3-blue w3-round">Next<i class = "fa fa-arrow-right w3-margin-left"></i></a>
						</div>

					</div>
				</div>
				<!-- Skills End -->

				<!-- Achievements -->
				<div class = "w3-container" style = "display: none; min-height: 500px; padding-bottom: 50px;" id = "achievements">
					<h4 class = "w3-text-red">Achievements</h4>
					
					<div class = "w3-container">
						<p>Section Heading:</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
					
						<p>Achievements Name:</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
						
						<p>Achievements Details:</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
					<br/>

					<div class = "w3-margin-top">
							<a href = "#" onclick = "javascript: openSkills(); return false;" class = "w3-btn w3-red w3-round"><i class = "fa fa-arrow-left w3-margin-right"></i>Back</a>
							<a href = "#" onclick = "javascript: openProjects(); return false;" class = "w3-btn w3-blue w3-round">Next<i class = "fa fa-arrow-right w3-margin-left"></i></a>
					</div>

					</div>
				</div>
				<!-- Achievements End -->
				
				<!-- Projects -->
				<div class = "w3-container" style = "display: none; min-height: 500px; padding-bottom: 50px;" id = "projects">
					<h4 class = "w3-text-red">Projects</h4>
					
					<div class = "w3-container">
						<p>Section Heading:</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
					
						<p>Projects Name:</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
						
						<p>Projects Details:</p>
						<input type = "text" style = "width: 300px; border: 0px solid black;" class = "w3-container w3-light-grey w3-padding w3-margin-bottom reset">
					<br/>

					<div class = "w3-margin-top">
						<a href = "#" class = "w3-btn w3-red w3-round">Add another Project<i class = "fa fa-plus w3-margin-left"></i></a>
						<a href = "#" class = "w3-btn w3-blue w3-round">Generate Resume</a>
					</div>
					</div>
				</div>
				<!-- Projects End -->
			</div>
			

			
		</div>
  
  </div>