<div class = "w3-light-grey">
    <div class = "w3-container w3-center" style = "margin-top: 20px; margin-bottom: 20px;">
    <h1 class = "w3-xxlarge" style = "font-family: Montserrat"><span class = "w3-xxlarge w3-text-red">View</span> Templates</h1>
    <p>Choose from our best collections of resume templates</p>
  </div>
  <!-- Header End -->
  
  <!-- Content -->
  <div class = "w3-container w3-content w3-card-4 w3-white w3-round" style = "margin-bottom: 50px; padding-bottom: 50px;">
    <div class = "w3-container w3-padding-large">
      <h4>Best Picks</h4>
    </div>
    <div>
      <div class = "w3-container w3-third ">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src = "../../assets/images/fresher1.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <a  class = "w3-btn w3-blue w3-round" style = "width: 100%;">View</a>
            <a  class = "w3-btn w3-red w3-margin-top w3-round" style = "width: 100%;" routerLink="/form1" routerLinkActive="active">Use Template</a>
          </div>
        </div>
        
        <div class = "w3-center">
          <p>Fresher</p>
        </div>
      </div>
      
      <div class = "w3-container w3-third hidden">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src = "../../assets/images/Pro_temp1.png" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <a  class = "w3-btn w3-blue w3-round" style = "width: 100%;">View</a>
            <a  class = "w3-btn w3-red w3-margin-top w3-round" style = "width: 100%;" routerLink="/form1" routerLinkActive="active">Use Template</a>
          </div>
        </div>
        
        <div class = "w3-center">
          <p>Professional</p>
        </div>
        
      </div>
      
      <div class = "w3-container w3-third hidden">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src = "../../assets/images/intern1.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <a  class = "w3-btn w3-blue w3-round" style = "width: 100%;">View</a>
            <a  class = "w3-btn w3-red w3-margin-top w3-round" style = "width: 100%;" routerLink="/form1" routerLinkActive="active">Use Template</a>
          </div>
        </div>
      </div>
      
      <div class = "w3-center">
          <p>Intern</p>
      </div>
    </div>
    
    <div class = "w3-container w3-padding-large">
      <h4>Professionals</h4>
    </div>
    <div>
      <div class = "w3-container w3-third hidden">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src = "../../assets/images/Pro_temp1.png" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <a href = "#" class = "w3-btn w3-blue w3-round" style = "width: 100%;">View</a>
            <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" style = "width: 100%;">Use Template</a>
          </div>
        </div>
        
        <div class = "w3-center">
          <p>Pro 1</p>
        </div>
        
      </div>
      
      <div class = "w3-container w3-third hidden">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src = "../../assets/images/pro_temp2.png" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <a href = "#" class = "w3-btn w3-blue w3-round" style = "width: 100%;">View</a>
            <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" style = "width: 100%;">Use Template</a>
          </div>
        </div>
        
        <div class = "w3-center">
          <p>Pro 2</p>
        </div>
        
      </div>
      
      <div class = "w3-container w3-third hidden">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src = "../../assets/images/resume.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <a href = "#" class = "w3-btn w3-blue w3-round" style = "width: 100%;">View</a>
            <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" style = "width: 100%;">Use Template</a>
          </div>
        </div>
        
        <div class = "w3-center">
          <p>Pro 3</p>
        </div>
        
      </div>
    </div>
    
    <div class = "w3-container w3-padding-large">
      <h4>Freshers</h4>
    </div>
    <div>
      <div class = "w3-container w3-third hidden">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src =  "../../assets/images/fresher1.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <a href = "#" class = "w3-btn w3-blue w3-round" style = "width: 100%;">View</a>
            <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" style = "width: 100%;">Use Template</a>
          </div>
        </div>
        
        <div class = "w3-center">
          <p>Fresher 1</p>
        </div>
        
      </div>
      
      <div class = "w3-container w3-third hidden">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src = "../../assets/images/resume.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <a href = "#" class = "w3-btn w3-blue w3-round" style = "width: 100%;">View</a>
            <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" style = "width: 100%;">Use Template</a>
          </div>
        </div>
        
        <div class = "w3-center">
          <p>Fresher 2</p>
        </div>
        
      </div>
      
      <div class = "w3-container w3-third hidden">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src = "../../assets/images/resume.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <a href = "#" class = "w3-btn w3-blue w3-round" style = "width: 100%;">View</a>
            <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" style = "width: 100%;">Use Template</a>
          </div>
        </div>
        
        <div class = "w3-center">
          <p>Fresher 3</p>
        </div>
        
      </div>
    </div>


    <div class = "w3-container w3-padding-large">
      <h4>Interns</h4>
    <div>
        <div class = "w3-container w3-third hidden">
          <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
            <img src = "../../assets/images/intern1.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
            <div class = "w3-display-middle w3-center hover-display">
              <a href = "#" class = "w3-btn w3-blue w3-round" style = "width: 100%;">View</a>
              <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" style = "width: 100%;">Use Template</a>
            </div>
          </div>
          
          <div class = "w3-center">
            <p>Intern 1</p>
          </div>
          
        </div>
        
        <div class = "w3-container w3-third hidden">
          <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
            <img src = "../../assets/images/intern2.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
            <div class = "w3-display-middle w3-center hover-display">
              <a href = "#" class = "w3-btn w3-blue w3-round" style = "width: 100%;">View</a>
              <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" style = "width: 100%;">Use Template</a>
            </div>
          </div>
          
          <div class = "w3-center">
            <p>Intern 2</p>
          </div>
          
        </div>
        
        <div class = "w3-container w3-third hidden">
          <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
            <img src = "../../assets/images/intern3.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
            <div class = "w3-display-middle w3-center hover-display">
              <a href = "#" class = "w3-btn w3-blue w3-round" style = "width: 100%;">View</a>
              <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" style = "width: 100%;">Use Template</a>
            </div>
          </div>
          
          <div class = "w3-center">
            <p>Intern 3</p>
          </div>
          
        </div>
      </div>
      </div>

    
  </div>
  
  
  
  <!-- Content End -->
  
  <!-- Footer -->
  
  <!-- Footer End -->

</div>
